temp
library
local
/node_modules
/release
/.idea
/bin
/bin/js
bin/js/bundle.js
bin/js/bundle.js.map

bin/js/bundles
native/.dart_tool
native/build
native/android/.gradle
native/android/.idea
native/.idea